<div class="row">
  <div class="col s12">
    <h5>Looks like you have not created your medical records yet. Please <a href=<%= new_medical_record_path %>>click here</a> to create one. </h5>
  </div>
</div>
