<div class="row">
  <h3 class="teal-text center">Your Medical Records</h3>
</div>

<div class="row">
  <% if @medical_records.present? %>
    <%= render 'table', medical_records: @medical_records %>
  <% else %>
    <%= render 'prompt_create' %>
  <% end %>
</div>
