<div class="container">
  <div class="col s12 m10 l6">
    <h4 class="teal-text center">Please enter the details of your medical record</h4>
  </div>

  <%= render 'form', medical_record: @medical_record %>
</div>
