<div class="row">
  <h3 class="teal-text center">Users</h3>
  <div class="row">
  <table class="responsive-table highlight">
    <thead>
      <tr>
        <th colspan="4" class="center">Name</th>
        <th colspan="4" class="center"># of records</th>
        <th colspan="4" class="center"># of records shared with you</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td colspan="4" class="center"><%= link_to user.name.titleize, dorp_medical_records_path(user_id: user.id) %></td>

        <td colspan="4" class="center">
          <%= user.medical_records.size %>
        </td>

        <td colspan="4" class="center">
          <%= user.share_records.shared_with(current_resource).permitted.size %>
        </td>

      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
