<div class="row">
  <div class="col s12">
    <h5>Looks like you have not shared your medical records yet. Please <a href=<%= medical_records_path %>>click here</a> to get started. </h5>
  </div>
</div>
