<div class="row">
  <h3 class="teal-text center">Your Shared Records
  </h3>
  <% if @share_records.present? %>
    <%= render 'table', share_records: @share_records %>
  <% else %>
    <%= render 'prompt_share' %>
  <% end %>
</div>
