// Import libraries
@import "material-icons/css/material-icons";
@import "materialize-css/sass/components/color";
$primary-color: color('teal', 'darken-3') !default;
$secondary-color: color('orange', 'base') !default;
$link-color: color('blue', 'darken-2') !default;
$bg-color: color('teal', 'lighten-2') !default;
@import "materialize-css/sass/materialize";

// Import our codes
@import "medical_records";

.push-center {
  padding-left: 15%;
}

.password-container {
  overflow: hidden;
  position: relative;
}

.password-toggle {
  position: absolute;
  bottom: 33%;
  right: 4%;
  z-index: 10;
}

.bottom-pad-button {
  padding-bottom: 5%;
}

.flat-button {
  border: 0.1rem solid $primary-color;
  border-radius: 0.3rem;
}

.toast-flash {
  border-radius: 0.5rem;
}

.toast-success {
  background-color: #007E33;
}

.toast-error {
  background-color: #CC0000;
}

.toast-alert {
  background-color: #FF8800;
}

.toast-notice {
  background-color: #0099CC;
}
